body{
   margin: 0;
   background-color: #E5E5E5;
}
.menu{
   height: 90px;
   width: 100%;
   background-color: #202846;
   position: fixed;
   top:0;
   overflow:auto;
   display: inline-block;
   }
.gori{
   padding: 1% 1%;
   
}
.menu ul{
   margin: 0 auto;
   width: 72%; 
   
}
.menu li{
   float: left;
   list-style: none;
   color: white;
   padding: 1.1rem;
   border-right: 2px solid #ffffff;
}
.mova{
   float: right;
}
.bron{
   height: 140px;
   background-color: #C6C6DC;
   color: #202846;
   margin-top: 90px;
}
.one{
   background-color: #BDBDC6;
   margin: 15% 5%;
background-image: url(../img/star.png);
background-repeat: no-repeat;
}
.oneimg{
   padding: 1% 7%;
   height: 150px;
   box-sizing: border-box; 
}
.title{
   float: right;
   padding: 1% 39% 0 0;
   
}
.text{
   background-color: #D7D7DD;
   padding: 4%;
   width: 50%;
   text-align: center;
}
.line{
   width: 402px;
   border-bottom: 2px solid #fff;
   float: right;
   margin: 0 6% 2% 48%;
}
.button{
      background-image: url(../img/button.png);
      color: #fff;
      background-repeat: no-repeat;
      width: 100%;
      padding: 2.3% 6.5%;
   position: relative;
   left: 82%;
   bottom: 10px;
}
.one:hover{
   background-image: url(../img/yellow\ star.png);
   
}
.star{

}
