body{
   font-family: Inika ;
   font-weight: 700;
   margin: 0;
}
.h1{
   margin: 72px 0;
   font-size: 40px;
   font-weight: 700;
}

.line{
   width: 402px;
   border-bottom: 5px solid #3E45E8;
}
.h2{
   margin: 72px 0;
   font-size: 40px;
   font-weight: 700;
   text-align: center; 
}
.line__h2{
   width: 402px;
   border-bottom: 5px solid #3E45E8;
margin: 0 auto;
}
.header{
   text-align: center;
   color: #3E45E8;
   font-size: 48px;
   font-weight: 400;
   font-family: 'Marcellus', serif;
}
.header-span{
   color: #E8C23E;
}
.banner{
   background-image: url("../img/fortezia.png");
   height: 803px;
   background-repeat: no-repeat;
   background-size: 100%;
   padding-left: 80px;
   padding-top: 206px;
   box-sizing: border-box;
}
.content{
   color: white;
   box-sizing: border-box;
   width: auto;
   font-weight: 700;
   font-size: 48px;
   padding-left: 40px;
   padding-top: 1%;
   height: 272px;
   background-image: url("../img/flag.png");
   background-repeat: no-repeat;
}
.main{
   padding: 0 80px;
}
.card{
   border: 1px solid black;
   width: 30%;
   height: 420px;
   color: #1E8DF2;
   display: inline-block;
   vertical-align: top;
   border-radius: 26px;
   box-shadow: 0px 4px 6px rgb(0 0 0 /25%);
}

.card__image{
   width: 100%;
}
.card__margin{
   margin: 0 4%;
}
.card__title{
   font-size: 24px;
   padding: 10px;
   box-sizing: border-box;
}
.card__subtitel{
   font-weight: 400;
   font-size: 20px;
   color: #E8C23E;
   padding: 10px;
   box-sizing: border-box;
}
.map__ukraine{
   width: 100%;
   margin: 41px 0;
}
.button{
   background-image: url(../img/button.png);
   background-repeat: no-repeat;
   margin-left: 25%;
      }
.button__text{
   font-size: 64px;
   color: #FFFFFF;
   padding:10px 110px;
   
   }
   .footer{
      background-color: #2F4A4B;
      height: 320px;
      margin-top: 21px;
      text-align: center;
      color: #3E45E8;
      font-size: 48px;
      font-weight: 400;
      font-family: 'Marcellus', serif;
   }
   .footer__span{
      color: #E8C23E;
   }
   .mail{
      font-family: 'Marcellus SC';
      font-size: 36px;
      color: #A89D9D;
      font-weight: 400;
      text-decoration: none;
      }
   .tel{
      font-family: 'Marcellus SC';
      font-size: 36px;
      color: #A89D9D;
      font-weight: 400;
      text-decoration: none;
   }
   .icon{
      padding-top: 21px;
   }