.blue{
   background-image: url(../img/Blue.png);
   background-repeat: no-repeat;
   height: 256px;
}
.fon{
   background-image: url(../img/yellow.png);
   background-repeat: no-repeat;
   height: 512px;
   box-sizing: border-box;
   width: 512px;
   display: inline-block;
   vertical-align: top;
}
.zigzag{
   padding-left: 54px;
   padding-top: 144px;
}
.blue2{
   background-image: url(../img/Blue.png);
   background-repeat: no-repeat;
   height: 256px;
   border-radius: 393px 393px 0 0;
}
.fon2{
   background-image: url(../img/yellow.png);
   background-repeat: no-repeat;
   height: 512px;
   box-sizing: border-box;
   width: 512px;
   display: inline-block;
   vertical-align: top;
   margin-left: 103px;
   border-radius: 60%;
}
.zigzag2{
   padding-left: 54px;
   padding-top: 236px;;
}
.blue__blue2{
   background-image: url(../img/Blue2.png);
   background-repeat: no-repeat;
   height: 256px; 
}
.blue2__blue2{
   background-image: url(../img/Blue2.png);
   background-repeat: no-repeat;
   height: 256px;
   border-radius: 393px 393px 0 0;
}
.line2{
   padding-top: 50px;
}
.line3{
   padding-top: 50px;
   box-sizing: border-box;
}
.romb{
   padding-top: 60px;
}
.romb2{
   width: 100%;
   padding: 16% 20%;
   box-sizing: border-box;
}
.line4{
   padding-top: 50px;
   box-sizing: border-box;
}
.plane{
   padding: 25% 0 0 34%;
}
.plane2{
   width: 100%;
   padding: 16% 20%;
   box-sizing: border-box;
}
.line5{
   padding-top: 50px;
   box-sizing: border-box;
   }
   .dia{
      padding: 31% 19.5%;
   }
   .dia2{
      padding: 31% 19.5%;
      
   }
   .fonblack{
      background-image: url(../img/black.png);
      background-repeat: no-repeat;
      height: 512px;
      box-sizing: border-box;
      width: 512px;
      display: inline-block;
      vertical-align: top;
   }
   .fonblack2{
      background-image: url(../img/black.png);
      background-repeat: no-repeat;
      height: 512px;
      box-sizing: border-box;
      width: 512px;
      display: inline-block;
      vertical-align: top;
      margin-left: 103px;
      
   }
   .line6{
      padding-top: 50px;
      box-sizing: border-box;
   }
   .flag{
      padding: 3%;
   }
   .dia6{
      padding: 13% 19.5%;
   }
   .dia6__2{
      padding: 13% 19.5%;
   }
   .flag2{
      padding: 3%;
      margin: 0 0 0 55.9%;
   }
   .line7{
      padding: 50px 20%;
   }
   .flag7{
      padding: 5% 42%;
   }
   .dia7{
      padding: 25% 20% 0;
   }